<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @producto.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @producto.descripcion %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @producto.precio %>
</p>
<%= render 'preguntas/index' %>


<% if current_user.admin? %>
<%end%>
<%= link_to "Preguntar", new_producto_pregunta_path(@producto)%>
